@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.banner {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  bottom: 5%;
  color: white;
  opacity: 0.7;
  padding: 1em;
}

.heading {
  font-size: 1.2em;
  text-transform: uppercase;
  letterspacing: 1px;
  line-height: 1;
}

.tagline {
  font-size: 0.8em;
}